<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="org.mariadb.jdbc.Driver"></property>
    <property name="url" value="jdbc:mariadb://localhost:3306/tobyspring"></property>
    <property name="username" value="doodoom"></property>
    <property name="password" value="dudgns2684"></property>
  </bean>


  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"></property>
  </bean>

  <!--  aop -->
  <aop:config>
    <aop:pointcut id="transactionPointcut" expression="execution(* *..*ServiceImpl.upgrade*(..))"></aop:pointcut>
    <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut"></aop:advisor>
  </aop:config>

  <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>

  <bean id="transactionAdvice" class="com.example.tobyspring.user.service.TransactionAdvice">
    <property name="transactionManager" ref="transactionManager" />
  </bean>

  <!--  <bean id="transactionPointcut" class="org.springframework.aop.aspectj.AspectJExpressionPointcut">-->
  <!--    <property name="expression" value="execution(* *..*ServiceImpl.upgrade*(..))" />-->
  <!--  </bean>-->

  <!--  <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">-->
  <!--    <property name="advice" ref="transactionAdvice"></property>-->
  <!--    <property name="pointcut" ref="transactionPointcut"></property>-->
  <!--  </bean>-->

  <!-- application components -->
  <bean id="userDao" class="com.example.tobyspring.user.dao.UserDaoJdbc">
    <property name="dataSource" ref="dataSource"></property>
  </bean>

  <bean id="userServiceImpl" class = "com.example.tobyspring.user.service.UserServiceImpl">
    <property name = "userDao" ref = "userDao"></property>
    <property name = "mailSender" ref = "mailSender"></property>
  </bean>

  <bean id="userService" class="com.example.tobyspring.user.service.UserServiceImpl">
    <property name="userDao" ref="userDao"></property>
    <property name="mailSender" ref="mailSender"></property>
  </bean>

  <bean id="testUserService"
    class="com.example.tobyspring.user.service.UserServiceTest$TestUserService"
    parent="userService"></bean>

  <bean id="mailSender" class="com.example.tobyspring.user.service.DummyMailSender"></bean>
</beans>