<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="connectionMaker" class="com.example.tobyspring.user.dao.DConnectionMaker"></bean>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="org.mariadb.jdbc.Driver"></property>
    <property name="url" value="jdbc:mariadb://localhost:3306/tobyspring"></property>
    <property name="username" value="doodoom"></property>
    <property name="password" value="dudgns2684"></property>
  </bean>

  <bean id="userDao" class="com.example.tobyspring.user.dao.UserDao">
    <property name="dataSource" ref="dataSource"></property>
  </bean>

</beans>